@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f7f4ec;
    --foreground: #403b36;
    --card: #fdfcf8;
    --card-foreground: #403b36;
    --popover: #fdfcf8;
    --popover-foreground: #403b36;
    --primary: #806b57;
    --primary-foreground: #fbfaf5;
    --secondary: #f5f2e8;
    --secondary-foreground: #403b36;
    --muted: #f5f2e8;
    --muted-foreground: #736a63;
    --accent: #f5f2e8;
    --accent-foreground: #403b36;
    --destructive: #ff1a1a;
    --destructive-foreground: #fbfaf5;
    --border: #e6e0d1;
    --input: #e6e0d1;
    --ring: #d4ccb4;
    --chart-1: #e67e22;
    --chart-2: #2e86c1;
    --chart-3: #1a5276;
    --chart-4: #f1c40f;
    --chart-5: #e67e22;
    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #424242;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #e8e8e8;
    --sidebar-ring: #4dabf7;
  }
  .dark {
    --background: #201c18;
    --foreground: #f5f2e8;
    --card: #26211d;
    --card-foreground: #f5f2e8;
    --popover: #26211d;
    --popover-foreground: #f5f2e8;
    --primary: #f5f2e8;
    --primary-foreground: #201c18;
    --secondary: #2d2722;
    --secondary-foreground: #f5f2e8;
    --muted: #2d2722;
    --muted-foreground: #bfb7a3;
    --accent: #2d2722;
    --accent-foreground: #f5f2e8;
    --destructive: #991a1a;
    --destructive-foreground: #f5f2e8;
    --border: #2d2722;
    --input: #2d2722;
    --ring: #bfb7a3;
    --chart-1: #4d79ff;
    --chart-2: #2ecc71;
    --chart-3: #f39c12;
    --chart-4: #9b59b6;
    --chart-5: #e74c3c;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #4d79ff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #262626;
    --sidebar-ring: #4dabf7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
